/* The container-input */
.custom-radio {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 16px;
		width: 16px;
		background-color: #eee;
		border-radius: 5px;
	}
	&:hover input ~ .checkmark {
		background-color: #ccc;
	}
	input:checked ~ .checkmark {
		background-color: #2e683a;
	}
}
.baitest-page {
	background-color: #717071;
	padding-top: 30px;
	padding-bottom: 50px;
	background-image: url(../images/hinhve-color.png);
	background-size: 1000px;
	background-repeat: no-repeat;
	background-position: bottom right;
	.heading1{
		font-size: 22px;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		span{
			padding: 0 20px;
		}
		img{
			width: 60px;
		}
	}
	.sapo-heading{
		color: #fff;
		font-style: italic;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.wrap-baitest{
		.baitest01{
			.list-question{
				margin-top: 25px;
				.item{
					margin-top: 5px;
					.question{
						font-size: 15px;
						font-weight: bold;
						text-align: center;
					}
					.choose{
						.custom-radio {
							width: 24%;
							display: inline-block;
						}
					}
				}
			}
		}
		.cauhoi{
			background: #e3e2e3;
			height: 100%;
			padding:40px;
			padding-right: 15px;
			position: relative;
			margin-bottom: 30px;
			.title-box1{
				@include title-box1;
			}
			.btn-prev {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: #78c72a;
				text-align: center;
				position: absolute;
				left: -25px;
				top: 45%;
				i{
					font-size: 40px;
					color: #fff;
					margin-top: 5px;
					margin-left: -4px;
				}
				&.swiper-button-disabled{
					background: #fff;
					i{
						color: #3d3c3c;
					}
				}
			}
			.btn-next {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: #78c72a;
				text-align: center;
				position: absolute;
				right: -25px;
				top: 45%;
				i{
					font-size: 40px;
					color: #fff;
					margin-top: 5px;
					margin-right: -4px;
				}
				&.swiper-button-disabled{
					background: #fff;
					i{
						color: #3d3c3c;
					}
				}
			}
			.main{
				.table{
					tr{
						td{
							&:nth-of-type(1){
								font-weight: bold;
							}
							&:nth-of-type(2){
								width: 180px;
								.radio-wrap{
									.custom-radio{
										display: inline-block;
										margin-right: 20px;
									}
								}
							}
						}
					}
				}
			}
		}
		.cautraloi{
			background: #e3e2e3;
			height: 100%;
			padding: 40px 15px;
			.title-box1{
				@include title-box1;
			}
			.main{
				.top{
					margin-top: 15px;
					margin-bottom: 10px;
					.info{
						width: 40%;
						float: left;
						span{
							font-size: 15px;
						}
						.progress{
							height: 6px;
							border: 1px solid #78c72a;
							.progress-bar{
								background: #78c72a;
							}
						}
					}
					.time{
						width: 50%;
						float: right;
						font-size: 27px;
						font-weight: bold;
					}
				}
				.note {
					border-top: 1px solid #75987c;
					border-bottom: 1px solid #75987c;
					padding: 5px 10px;
					.item{
						span{
							font-weight: bold;
							font-size: 15px;
							font-style: italic;
						}
						i{
							display: inline-block;
							width: 15px;
							height: 15px;
							border: 1px solid #2e683a;
							border-radius: 3px;
						}
						&.checked{
							i{
								background: #2e683a;
								border: none;
							}
						}
					}
				}
				.list-exam{
					.item{
						margin-top: 10px;
						.name-test{
							font-weight: bold;
							font-size: 15px;
							font-style: italic;
							margin-bottom: 5px;
						}
						.test1{
							padding-left: 10px;
							b{
								margin-right: 10px;
							}
							span{
								display: inline-block;
								width: 15px;
								height: 15px;
								border: 1px solid #2e683a;
								border-radius: 3px;
								margin-right: 18px;
								&.checked{
									background: #2e683a;
									border: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
.button-submit-form{
	text-align: center;
    height: 55px;
    margin-top: 30px;
	.button{
		border: none;
		cursor: pointer;
		@include button_style1;
	}
}